.card {
    border: 5px #00B1C8 solid;
    width: 210px;
    height: 200px;
    margin: 10px;
    max-width: 100%;
    position: relative;
    /* box-shadow: 2px 2px 2px rgb(56, 56, 56); */
    transition: all .1s ease-in-out;
  }
  
  .card > .img-container {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    /* background:rgb(255, 255, 255); */
  }
  
  .card > .img-container > img {
    height: 100%;
  }
  
  .card:hover {
    box-shadow: 8px 8px 20px rgb(241, 206, 3);
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .card:active {
    transform: translate(1px, 1px);
  }