#nav {
    width: 100%;
    font-size: 2rem;

    background-color: #00b1c8;
    text-align: center;
    border: 3px solid;
    opacity: 0.5;
    height: auto;
    font-family: 'Patrick Hand SC', cursive;
    padding: 10px;
  }

  @media only screen and (max-width: 750px) {
    #cur-sco, #top-sco {
      font-size: 2rem;
    }
  }